@import './../../scss/abstract/variables';

.pc {
	border: 2px solid $gainsboro;
	padding: 0.5rem 1.5rem 1.5rem 1.5rem;
	border-radius: 1rem;
	box-shadow: $subtleBoxShadow;

	&__sprite {
		margin: 0 auto;
	}

	&__info {
		font-size: 1.125rem;
		text-transform: capitalize;
	}

	&__button {
		border: 2px solid $java;
		display: block;
		padding: 0.5rem 1rem;
		margin-top: 1rem;
		border-radius: 5rem;
		color: $java;
		font-weight: 600;
		transition: $transitionSmoothShort;

		@media (hover) {
			&:hover,
			&:active,
			&:focus {
				background-color: $java;
				color: $white;
			}
		}
	}
}
