@import './../../scss/abstract/variables';

.footer {
	padding: 2% 0;
	text-align: center;

	@media #{$tabletPortrait} {
		padding: 3.5%;
	}

	&__text {
		line-height: 1.5;
	}

	&__icon-row {
		margin-top: 0.5%;
	}

	&__icon-link {
		margin: 0 0.375%;
		transition: $transitionSmoothShort;

		@media (hover) {
			&:hover,
			&:active,
			&:focus {
				opacity: 0.66;
			}
		}
	}

	// &__icon {
	// }
}
