// FONTS
$fontOpenSans: 'Open Sans', sans-serif;

// BLACK/WHITE
$white: #fff;
$black: #000;

// GREYS
$gainsboro: #e4e4e4;
$nero: #1b1b1b;

// COLOURS
$cinnabar: #ea4242;
$flamenco: #ea8e42;
$java: #288d8d;
$lime: #35bb35;

// TYPE COLOURS
$typeBug: #adbd21;
$typeDark: #735a4a;
$typeDragon: #7b63e7;
$typeElectric: #ffc631;
$typeFairy: #f7b5f7;
$typeFighting: #a55239;
$typeFire: #f75231;
$typeFlying: #9cadf7;
$typeGhost: #6363b5;
$typeGrass: #7bce52;
$typeGround: #d6b55a;
$typeIce: #5acee7;
$typeNormal: #ada594;
$typePoison: #b55aa5;
$typePsychic: #ff73a5;
$typeRock: #bda55a;
$typeSteel: #adadc6;
$typeWater: #399cff;

// GENERAL / UI
$bumperPadding: 0 1.125rem;
$flexFiftyFifty: 1 1 50%;
$marginCenter: 0 auto;
$subtleBoxShadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
$transitionSmoothShort: all 175ms ease-in-out;
$transitionSmoothMedium: all 300ms ease-in-out;
$transitionSmoothLong: all 500ms ease-in-out;
$transitionSmoothExtraLong: all 1000ms ease-in-out;

// BREAKPOINTS
$desktop4k: 'only screen and (min-width: 3840px)';
$desktop1440p: 'only screen and (max-width: 2560px)';
$desktopHD: 'only screen and (max-width: 1920px)';
$desktopMedium: 'only screen and (max-width: 1680px)';
$desktopSmall: 'only screen and (max-width: 1440px)';
$laptop: 'only screen and (max-width: 1366px)';
$laptopSmall: 'only screen and (max-width: 1280px)';
$tabletLandscape: 'only screen and (max-width: 1024px)';
$tabletMedium: 'only screen and (max-width: 900px)';
$tabletPortrait: 'only screen and (max-width: 768px)';
$mobileXLarge: 'only screen and (max-width: 640px)';
$mobileLarge: 'only screen and (max-width: 576px)';
$mobileMedium: 'only screen and (max-width: 480px)';
$mobileSmall: 'only screen and (max-width: 415px)';
$mobileXSmall: 'only screen and (max-width: 375px)';
$mobileTiny: 'only screen and (max-width: 325px)';
