@import './../../scss/abstract/variables';

.pd {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4% 0;
	position: relative;

	&__button {
		position: absolute;
		top: 5%;
		left: -2.5%;
		display: flex;
		align-items: center;
		background-color: transparent;
		border: 2px solid $flamenco;
		color: $flamenco;
		font-size: 1.125rem;
		padding: 1rem 2rem 1rem 5rem;
		font-weight: 600;
		transition: $transitionSmoothShort;
		text-transform: uppercase;

		@media (hover) {
			&:hover {
				background-color: $flamenco;
				box-shadow: $subtleBoxShadow;
				color: $white;
				padding: 1rem 6rem 1rem 9rem;
			}
		}

		@media #{$tabletPortrait} {
			padding: 1rem 2.5rem;
		}
	}

	&__icon {
		font-size: 1.5rem;
		margin-right: 1rem;
	}

	// &__button-text {
	// }

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 3%;
		width: 80%;

		@media #{$tabletLandscape} {
			margin-top: 5%;
			width: 90%;
		}

		@media #{$tabletPortrait} {
			flex-direction: column;
			margin-top: 5rem;
		}
	}

	&__box {
		&:first-of-type {
			margin-right: auto;
			flex-shrink: 0;

			@media #{$tabletPortrait} {
				margin-right: 0;
			}
		}

		&:last-of-type {
			flex-basis: 50%;

			@media #{$tabletLandscape} {
				flex-basis: 45%;
			}

			@media #{$tabletPortrait} {
				text-align: center;
				width: 100%;
			}
		}
	}

	&__sprite {
		width: 30rem;

		@media #{$tabletPortrait} {
			margin: 0 auto;
			width: 85%;
		}
	}

	&__heading {
		font-size: 4.5rem;
		text-transform: capitalize;

		@media #{$tabletLandscape} {
			font-size: 4rem;
		}
	}

	&__types {
		display: flex;
		font-size: 2rem;
		font-weight: 800;
		margin: 4% 0;
		text-transform: uppercase;

		@media #{$tabletLandscape} {
			font-size: 1.5rem;
		}

		@media #{$tabletPortrait} {
			justify-content: center;
		}
	}

	&__type {
		&:first-of-type {
			margin-right: 1rem;
		}

		// &:last-of-type {
		// }
	}

	&__description {
		font-size: 1.25rem;
		line-height: 1.5;
	}
}
